body{
  background-color: #333;
  color: white;
}
.taskName{
  color: red;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-img{
  margin-bottom: 20px;
  cursor: pointer;
}
.main-img img{
  max-width: 100%;
}
.thumbnails-container{
  display: flex;
  justify-content: center;
}
.thumbnails-container img{
  width: 50px;
  margin: 0 5px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: border-color 0.3s ease;
}
.thumbnails-container img.active {
  border-color: gray; 
}